@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-family: "Open Sans";
  overflow: hidden;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

.title-page {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.title-page > i {
  scale: 1.5;
}

hr {
  width: 70%;
  margin-block: 2.5rem;
}

.input-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

label {
  width: 80%;
}

#name-site, #url-site {
  width: 80%;
  background-color: rgb(200,200,200);
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 7px 7px 10px inset rgb(230, 230, 230);
  outline: none;
  font-size: 1.2rem;
}

#submit-btn {
  padding: 0.75rem 1.5rem;
  background-color: rgb(2, 126, 168);
  border: none;
  border-radius: 0.35rem;
  color: white;
  font-size: 1.3rem;
  box-shadow: 0 0 10px rgb(100,100,100);
  cursor: pointer;
}

.output {
  width: 70%;
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
  gap: 1rem;
}

.sites-card {
  width: 100%;
  height: 125px;
  background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  border-radius: 1rem;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.card-title {
  font-size: 1.5rem;
  color: white;
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.visit-btn {
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  background-color: lightgreen;
  font-size: 1.2rem;
  cursor: pointer;
}

.delete-btn {
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  background-color: red;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}